.App {
  text-align: left;
}

.App-header {
  background-color:#F2F2F2;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: black;
}

nav, .navbar-brand {
  background-color: #0040FF !important;
  font-family: sans-serif;
  font-size: 24px;
}

li, a {
  color: white !important;
}

table {
  min-width: 700px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
